* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.column {
	width: 80%;
	max-width: 1000px;
	min-width: 400px;
	margin: 50px auto;
	padding-left: 1em;
	padding-right: 1em;
}

#wrapper {
	padding-bottom: 1px; /*vertical collapse*/
	min-height: calc(100vh - 80px);

}

header {
	margin-bottom: 20px;
	background-color: #32b1ca;
	padding: 1em 0px;
	color: #fff;
}

footer {
	color: #444;
	padding: 1em 0px;
	text-align: center;
	background-color: #d4cebf;
	height: 80px;
}

fieldset {
	margin: 30px auto;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px dotted #ccc;
}

label {
	display: block;
	margin: 5px auto;
}

#results {
	display: none;
}

#results ul {
	margin-left: 0px;
	padding-left: 0px;
}

#results li {
	list-style-type: none;
}